body {
    font-family: Arial, sans-serif;
    background-color: #dad5d1;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Đặt hướng chính của flexbox là dọc */
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    margin-top: -50px; /* Đẩy logo lên trên để nằm trên đầu của form-container */
}

.logo h2 {
    color: #dfa974;
    font-size: 36px;
    margin: 0;
}

.logo a {
    text-decoration: none;
    color: #dfa974;
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #dfa974;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #c49041;
}

button:focus {
    outline: none;
}

button:hover {
    border-bottom-color: #c49041;
}

p {
    margin-top: 15px;
    color: #666;
}

a {
    color: #dfa974;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
